---
title: "About"
---

%h2 Lyrics to Congress-Woman Malinda Jackson Parker's <em>Tubman Goodtype Songs of Liberia</em>

%ul.list-unstyled
  %li= link_to "Cousin Mosquito #1", "tubman-goodtype-songs/cousin-mosquito-1/"
  %li= link_to "Cousin Mosquito #2", "tubman-goodtype-songs/cousin-mosquito-2/"
  %li= link_to "Precious Palm Tree", "tubman-goodtype-songs/precious-palm-tree/"
  %li= link_to "Bush Cow Milk", "tubman-goodtype-songs/bush-cow-milk/"
  %li= link_to "No Bananas", "tubman-goodtype-songs/no-bananas/"

%h2 Other

%ul.list-unstyled
  %li= link_to "Errata for the Alfred Edition of Grieg's Piano Sonata, Op. 7", "other/grieg-piano-sonata-errata/"
